section {
  padding: 100px 0;
  color: antiquewhite;
}
*{
  transition: all .4s linear;
  font-family: 'Nunito', sans-serif;
  
}
.title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
  color: antiquewhite;
}
body{
  background-color: #0c0b0bf5; 
}
.bg{
  background-image: url("bg1.jpg");
  background-attachment: fixed;
  height: 500px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact{
  display: flex;
  justify-content: center;
  align-items: center;
}
.msg-panel{
  padding: 40px;
  background-color: #0e0d0c;
  display: flex;
  justify-content: center;
  flex-direction: column;
width: 50%;}
input{
  background-color: #38363463;
  border: 1px solid #6e6a65;
  padding: 15px 10px;
  margin-bottom: 20px;
  width: 100%;
  color: white;
}
textarea{
  background-color: #38363463;
  border: 1px solid #6e6a65;
  width: 100%;
  padding: 15px 10px;
}
.text{
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 40px;
}
p{
  margin-bottom: 50px;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: larger;
  color: rgba(255, 255, 255, 0.719);
}
.button-area{
  display: flex;
  justify-content: center;
  padding: 20px;
}
button{
  padding: 10px;
  color: rgba(255, 255, 255, 0.719);
  background-color: #38363463;
  border: 1px solid #6e6a65;
}
.max-width {
  padding: 0 80px;
  margin: auto;
}


.navbar {
  position: sticky;
  margin-bottom: 0 auto;
  width: 100%;
  z-index: 999;
  padding: 2px 0;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.3s ease;
  top: 0;
  background-color: #0c0b0bf5;
  padding: 20px;
}
.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  text-decoration: none;
  color: rgb(198, 204, 202);
  font-size: 35px;
  font-weight: 600;
}
.navbar .logo a span {
  color: rgb(211, 163, 5);
}
.logo  span:hover {
  font-size: 45px;
  transition: all 0.6s ease;
}
.navbar .menu_1 li {
  list-style: none;
  display: inline-block;
}
.navbar .menu_1 li a {
  text-decoration: none;
  display: block;
  color: rgb(201, 197, 192);
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
}
.navbar .menu_1 li a:hover {
  font-size: 21px;
  color: rgb(231, 153, 36);
}
.navbar.apear .menu_1 li a:hover {
  color: #fff;
}
.menu-btn {
  color: rgb(243, 214, 159);
  font-size: 23px;
  cursor: pointer;
  
}
