*{
  box-sizing: border-box;
  margin: 0;
}
body{
  background-color: #0c0b0bf5;
}
.menu_one,.food-lists{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.flex-container{
  display: flex;
  vertical-align: top;
}
.food-pic{
  width: 500px;
  margin-right: 30px;
  overflow: hidden;
}
img{
  width: 100%;
  object-fit: cover;
}
.title{
  text-align: center;
  margin-bottom: 30px;
  font-size: 30px;
  font-family: Forum,cursive;
  
  color: #ffffffcc;

}
.menu{
  border: 1px solid red;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu_one{
padding: 50px 30px;  
}
span{
  color: rgb(151, 110, 4);
}
.dish{
  color: #ffffff9d;
}
.dish h2{
  color: #ffffffd2;
}
.max-width {
  padding: 0 80px;
  margin: auto;
}


.navbar {
  position: sticky;
  margin-bottom: 0 auto;
  width: 100%;
  z-index: 999;
  padding: 2px 0;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.3s ease;
  top: 0;
  background-color: #0c0b0bf5;
  padding: 20px;
}
.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  text-decoration: none;
  color: rgb(198, 204, 202);
  font-size: 35px;
  font-weight: 600;
}
.navbar .logo a span {
  color: rgb(211, 163, 5);
}
.logo  span:hover {
  font-size: 45px;
  transition: all 0.6s ease;
}
.navbar .menu_1 li {
  list-style: none;
  display: inline-block;
}
.navbar .menu_1 li a {
  text-decoration: none;
  display: block;
  color: rgb(201, 197, 192);
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
}
.navbar .menu_1 li a:hover {
  font-size: 21px;
  color: rgb(231, 153, 36);
}
.navbar.apear .menu_1 li a:hover {
  color: #fff;
}
.menu-btn {
  color: rgb(243, 214, 159);
  font-size: 23px;
  cursor: pointer;
  
}